HTML, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}
body{
    background-color: black;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: calc(80% - 20px);
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
header{
    width: 100%;
    font-family: 'Cinzel', serif;
    background-image: url("Subtle+Energy+Banner.jpg");
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 0;
    padding: 0;
}
.logo{
    margin: 20px;
}
.navigation{
    display: block;
    padding: 0;
    margin: 0;
    word-spacing: 5px;
}
.main{
    background-color: white;
    padding: 0;
    margin: 0;
}
.title-section{
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.content{
    display: flex;
}
.myimage{
    margin-right: 20px;
    padding-top: 20px;
}