html, body{
    width: 100%;
    height: 100%;
}
body{

}
.header{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
}
.search-box{
    width: 80%;
    height: 30px;
    margin-bottom: 20px;

}
.container {
    margin: 0 auto;
    width: 80%;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-box{
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    width: 800px;
    margin-bottom: 20px;
}