html, body{
    width: 100%;
    height: 100%;
}
body{

}
.header{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: center;
}
.search-box{
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
    font-size: 1.4em;
    outline: none;
}
.container {
    margin: 0 auto;
    width: 80%;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-box{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    width: 80%;
    margin: 0px auto 20px auto;
}
.markComplete{
    margin-right: 10px;
}
.completed{
    text-decoration: line-through;
    color: #CCCCCC;
}
.fa-trash{
    margin: 5px;
    width: 16px;
}
fa-check{
    margin: 5px;
    width: 16px;
}