html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  background-image: linear-gradient(45deg, #d2d2d2, #baa48c);
}
body .container {
  width: 70%;
  height: 600px;
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
}
body .container .left {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 45%;
  height: 100%;
  background-image: url("famousportraits8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25%;
}
body .container .left .profile-title {
  color: #fcffde;
  text-shadow: #484966;
  text-align: center;
  margin-bottom: 40px;
}
body .container .left .profile-title .name {
  font-size: 30px;
}
body .container .right {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}
body .container .right .story .title {
  font-size: 18px;
}
body .container .right .story .date {
  color: #cccccc;
  font-size: 12px;
}
body .container .right .story a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 50px;
  margin-top: 20px;
  padding: 8px;
  text-align: center;
  background-color: #ab182d;
  border-radius: 5px;
}
body .container .right .story a:hover {
  border: 2px solid #1f1f1f;
  background-color: #db193c;
}
