HTML, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #ece5de;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #73b6b8;
    padding: 0;
    border-radius: 33px;
    box-shadow: 10px 10px 5px 0px rgba(138,136,138,1);
    border: 1px solid #8A888A;
}
header{
    width: 80%;
    margin: 0 auto;
    background-color: #ece5de;
    font-family: 'Cinzel', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}
@media (max-width: 900px) {
    header {
        width: 100%;
    }
}
.logo{

}
.navigation{
    display: block;
    padding-right: 10px;
    margin: auto 0;
    word-spacing: 3px;
}
.navigation a{
    text-decoration: none;
    color: purple;
}
.button a{
    display: flex;
    margin: auto 0px auto 0px;
    background: #800080;
    background-image: linear-gradient(to bottom, #a800a8, #4f014f);
    border-radius: 33px;
    text-shadow: 4px 2px 3px #1f1f1f;
    color: #ece5de;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.main{
    padding: 0;
    margin: 0;
}
.title-section{
    font-family: 'Cinzel', serif;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
    color: purple;
}
.content{
    display: flex;
    justify-content: center;

}
.myimage{
    background-image: url("Salon-Images/salon-chair.jpg");
    background-repeat: no-repeat;
    width: 60%;
    height: auto;
    margin: 20px;
    padding-top: 20px;
}
.pbox{
    width: 30%;
}