html, body{
  width: 100%;
  height: auto;


  .container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 600px;
    .selectors{

      .hidden{
        display: none;
      }
    }
    .scoreCard{
      width: 100%;
      display: flex;

      .left{
        width: 100px;
        .playerCol{
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          width: 100%;
          height: 100%;

          .playerHeader{

          }
          .playerMain {

            display: flex;
            flex-direction: column;

            .playerLabel {
              margin: 3px 0;
              display: flex;
              justify-content: space-between;
              width: 100px;

            }
          }
        }
      }
      .right{
        width: 80%;
        display: flex;

        .column{
          border: 1px solid black;
          text-align: center;
          padding: 5px;
          .scoreBox{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 3px 0;
          }
          input{
            width: 40px;
          }
        }
      }
    }
  }
}
.yards{
  color: #00abff;
}