html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("golfScoreCardImages/Jody-Jackson-Home-Picture.jpg");
  background-size: auto;
  background-position: center;
}
html .btn,
body .btn {
  opacity: 0.65;
}
html .main-container,
body .main-container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
html .main-container .selectors .hidden,
body .main-container .selectors .hidden {
  display: none;
}
html .main-container .selectors .selector,
body .main-container .selectors .selector {
  opacity: 0.65;
}
html .main-container .scoreCard,
body .main-container .scoreCard {
  width: 90%;
  display: flex;
  padding: 5px auto;
  margin: 10px;
}
html .main-container .scoreCard .left,
body .main-container .scoreCard .left {
  width: 15%;
  min-width: 160px;
  box-sizing: border-box;
}
html .main-container .scoreCard .left .playerCol,
body .main-container .scoreCard .left .playerCol {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid black;
  background: white;
  opacity: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
html .main-container .scoreCard .left .playerCol .playerHeader,
body .main-container .scoreCard .left .playerCol .playerHeader {
  text-align: center;
}
html .main-container .scoreCard .left .playerCol .playerMain,
body .main-container .scoreCard .left .playerCol .playerMain {
  padding: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
html .main-container .scoreCard .left .playerCol .playerMain .playerLabel,
body .main-container .scoreCard .left .playerCol .playerMain .playerLabel {
  box-sizing: border-box;
  width: 100%;
  margin: 3px 0;
  display: flex;
  justify-content: space-between;
}
html .main-container .scoreCard .left .playerCol .playerMain .playerLabel .fa-trash,
body .main-container .scoreCard .left .playerCol .playerMain .playerLabel .fa-trash {
  margin-right: 5px;
}
html .main-container .scoreCard .right,
body .main-container .scoreCard .right {
  width: 85%;
  display: flex;
}
html .main-container .scoreCard .right #totalScore,
body .main-container .scoreCard .right #totalScore {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
html .main-container .scoreCard .right .column,
body .main-container .scoreCard .right .column {
  border: 1px solid black;
  text-align: center;
  background: white;
  opacity: 0.65;
}
html .main-container .scoreCard .right .column .scoreBox,
body .main-container .scoreCard .right .column .scoreBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
html .main-container .scoreCard .right .column input,
body .main-container .scoreCard .right .column input {
  width: 40px;
}
