html, body{
  width: 100%;
  height: auto;


  .container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 600px;
    .selectors{

    }
    .scoreCard{
      width: 100%;
      display: flex;

      .left{
        width: 100px;
        .playerCol{
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          width: 100%;
          height: 100%;

          .playerHeader{

          }
          .playerLabel{
            width: 100px;

          }
        }
      }
      .right{
        width: 80%;
        display: flex;

        .column{
          border: 1px solid black;
          text-align: center;
          padding: 5px;
          input{
            width: 40px;
          }
        }
      }
    }
  }
}
